/* slideshow settings */
.slideshow{
	margin:auto;
	
	position:relative;
}

.slideshow_image{
	display:none;

	margin:0;
	padding:0;

	max-height:30em;

	width:100%;
}

.slideshow_button_left, .slideshow_button_right{
	background-color:rgba(0,0,0,0.5);
	color:white;

	border-style:none;
	
	cursor: pointer;
	
	height:40%;
	width:3em;

	outline-width:0;

	position: absolute;
	top:25%;
	
	transition: 0.4s ease;		
}
.slideshow_button_right{
	right:0;
}
.slideshow_button_left:hover, .slideshow_button_right:hover{
	background-color:rgba(0,0,0,0.8);
}
.slideshow_button_left:focus, .slideshow_button_right:focus{
	outline-width:0;
}

.slideshow_caption{
	background-color:rgba(0,0,0,0.5);
	color:white;
	
	display:none;

	margin:auto;
	
	padding:1em 0em;
	
	position: absolute;
	bottom:0;
	
	text-align:center;
	
	width:100%;
}